body {
    background-color: #95D1CC;
    color: #545454;
}

hr {
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 7px;
    border-color: gray;
    width: 5%;
}

img {
    height: 150px;
}

.nikky {
    background-color: #5584AC;
}

#Nikky1 {
    color: #1e836c;
}

h1 {
    color: #1e836c;
}

h2 {
    color: #1e836c;
}

h3 {
    color: #1e836c;
}

h4 {
    color: #1e836c;
}

h5 {
    color: #1e836c;
}

h6 {
    color: #1e836c;
}